{% extends "base.html" %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title  %}Result | {% endblock  %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    {% block content %} 
        <br><br>
        <div style='margin-right: 200px'>
            <div style='margin-left: 200px'>
                <h1>Search Results</h1>
                <h6>Query : '{{query}}'</h6>
            </div>
        </div><br><br>
        {% for related_post in related_posts %}
            <div style='margin-right: 200px'>
                <div style='margin-left: 200px'>
                    <h10>{{related_post.timestamp}}</h10>
                    <h1>{{related_post.title}}</h1>
                    <h6>by {{related_post.author}}</h6>
                    <strong><p>{{related_post.overview}}</p></strong>
                    <p>{{related_post.content}}</p>
                    {% comment %} <small>Category: {{post.categories}}</small> {% endcomment %}
                </div>
            </div>
            {% empty %}
                <div class='content' style="text-align: center">
                    <p><strong>No results for this search</strong></p>
                </div>
        {% endfor %}
    {% endblock%}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>